html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MEU CSS  CABECALHO */

.cabecalho {
    display: flex;
	align-items: center;
	padding: 1.2rem;
	background: rgb(255, 0, 0);
	box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.45);
}

.title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 40px;
    text-indent: 1%;
    position: relative;
    display: inline;
}

.title::after {
    content: '';
    width: 5px;
    height: 70px;
    background-color: white;
    display: block;
    position: absolute;
    left: 145px;
    bottom: 5px;

}

.subtitle {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 30px;
    display: flex;
    position: relative;
    right: 50px;
}

/* CONTEUDO */


.title1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

.imagens {
    display: flex;
    justify-content: center;
}

.desc1 {
    color: black;
    
    font-size: 23px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.desc2 {
    color: black;
    font-size: 23px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1.5rem;
}

.title2 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
}

.title2::after {
    content: '';
    width: 700px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: -70px;

}

.imagens1 {
    height: 500px;
    width: 200px;
}