@charset "UTF-8";

.container {
    background-color: lightsalmon;
    display: flex;
    flex-flow: row nowrap;
}

.item {
    background-color: lightskyblue;
    text-align: center;
    border: 1px solid black;
}

#cxA {
    flex: 1 0 200px;
}

#cxB {
    flex: 1 1 150px;
}

#cxC {
    flex: 1 8 auto;
}