@charset "UTF-8";

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D3D5D7;
}

table {
    width: 500px;
    height: 500px;
    border-collapse: collapse;
}

caption {
    border: 2px solid black;
    background-color: #7E5920;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}

thead, tbody > tr, th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.title > th, td {
    background-color: #2C363F;
    color: white;
    text-align: center;
    padding: 10px;
}

tbody > tr, th, td {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
}