@charset "UTF-8";

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

/* HEADER */

header {
    display: flex;
	align-items: center;
	background: #F02D3A;
	box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.45);
    padding: 16px 16px;
}

header .main-title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 40px;
    border: solid #ffffff;
    border-width: 0 6px 0 0;
    padding: 0 16px 0 16px;
}

header .subtitle {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 30px;
    padding: 0 0 0 16px;
    display: flex;
}

/* MAIN */

main {
    background-color: rgb(23, 25, 26);
}

main .title {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

main p {
    color: white;
    font-size: 23px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
}

main img {
    display: block;
    margin: auto;
    width: 950px;
    height: 550px;
}

main .separator {
    width: 50%;
    height: 4px;
    margin: 48px 25% 8px 25%;
    background-color: white;
}

/* SECTION */

section h1 {
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
}

/* CARDS > GLASS-MORPHIRSM */

.cards {
    width: 1343px;
    height: 550px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/modo-arena.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cards .glass-morphirsm1 {
    width: 300px;
    height: 500px;
    padding: 35px;
    border: 2px solid #4C5F74;
    border-radius: 35px;
    margin: 15px;
    background-image: url(../imgs/aprimoramento-prismatico.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cards .glass-morphirsm2 {
    width: 300px;
    height: 500px;
    padding: 35px;
    border: 2px solid #B48C6B;
    border-radius: 35px;
    margin: 15px;
    background-image: url(../imgs/aprimoramentos-dourados.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cards .glass-morphirsm3 {
    width: 300px;
    height: 500px;
    padding: 35px;
    border: 2px solid #464A50;
    border-radius: 35px;
    margin: 15px;
    background-image: url(../imgs/aprimoramentos-comuns.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: rgb(16, 16, 16);
}

footer > p {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}