@charset "UTF-8";

.container {
    background-color: lightsalmon;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    height: 400px;
}

.item {
    background-color: lightskyblue;
    text-align: center;
    border: 1px solid black;
    padding: 40px;
}