body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 500px;
    height: 500px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th, td.resultado {
    background-color: #7D7E7F;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

th.areas {
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

td {
    background-color: white;
    color: black;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
}