@charset "UTF-8";

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 990px;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario {
        float: left;
        width: 50%;
        height: 100%;
    }

    #formulario h1 {
        margin-top: 20px;
        font-size: 2em;
    }

    #formulario p {
        font-size: 1em;
        text-align: center;
        margin-top: 50px;
    }
}