@charset "UTF-8";

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #5f2c82;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#login {
    width: 250px;
    height: 500px;
    
    background-color: white;
    color: black;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.316);
    overflow: hidden;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#imagem {
    display: block;
    background: #5f2c82 url(../imagens/back.jpg) no-repeat center center;
    background-size: cover;
    height: 150px;
}

#formulario {
    display: block;
    padding: 15px;
}

#formulario h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
}

#formulario p {
    font-size: 0.9em;
}

.campo {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 5px;
}

.campo input {
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.campo label {
    width: 20%;
}

.campo .material-symbols-outlined {
    width: 10%;
}

.botoes > input[type=submit] {
    display: block;
    width: 100%;
    height: 40px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.botoes > input[type=submit]:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.botoes a {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid black;
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}

.botoes a:hover {
    background-color: black;
    color: white;
    text-decoration: underline;
}