@charset "UTF-8";

@media screen and (min-width: 768px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 80vw;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #formulario {
        float: right;
        width: 70%;
        height: 100%;
    }

    #formulario h1 {
        font-size: 1.7em;
        margin-bottom: 30px;
    }

    #formulario p {
        font-size: 0.9em;
        margin-bottom: 80px;
        text-align: center;
    }

    .campo {
        margin-top: 10px;
    }

    .campo label {
        width: 10%;
        margin-right: 0px;
        text-align: center;
    }

    .campo input {
        width: 90%;
    }

    .botoes {
        margin-top: 20px;
    }
}