@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --cor01: #265C4B;
    --cor02: #146551;
    --cor03: #007566;
    --cor04: #589A8D;
    --cor05: #8FC1B5;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'JetBrains Mono', monospace;
}

* {
    margin: 0px;
    padding: 0px;
    font: normal normal 1em var(--fonte-padrao);
}

body {
    background-color: var(--cor05);
    max-width: 100vw;
}

header {
    height: 70px;
    background-image: linear-gradient(to bottom, var(--cor02), var(--cor03));
    padding-top: 30px;
}

header h1 {
    text-align: center;
    padding: 20px;
    color: white;
    font-family: var(--fonte-destaque);
}

nav {
    height: 50px;
    background-color: var(--cor03);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.312);
}

nav h1 {
    text-align: left;
    padding: 10px;
    padding-left: 30px;
    color: white;
    font-family: var(--fonte-destaque);
}

main {
    background-color: white;
    width: 1000px;
    height: 100vh;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 4px 3px 7px rgba(0, 0, 0, 0.218);
}

main h1 {
    text-align: center;
}

main p, h1 {
    margin-bottom: 15px;
}

main p, h1, ul {
    font-family: var(--fonte-padrao);
}

main ul {
    list-style-position: inside;
    columns: 3;
}

main ul p {
    text-align: center;
}

main a {
    text-decoration: none;
    color: var(--cor04);
}

main a:hover {
    text-decoration: underline;
}

main a:active {
    color: black;
}

.redes-sociais p {
    width: 200px;
    height: 150px;
    padding: 20px;
    border: 2px solid black;
}

.redes-sociais h1 {
    font-family: var(--fonte-destaque);
    font-weight: bold;
    font-size: 1.2em;
}

.midia-menu {
    display: flex;
    justify-content: center;
}

.midia-itens {
    display: flex;
    margin: 0px 10px;
    justify-content: center;
}

.midia-itens img {
    height: 20px;
}

.icon {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

article {
    padding: 20px;
}

footer {
    background-color: var(--cor01);
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 15px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor04);
}